<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ProconStats    </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>

  <div class="site">
    <div class="site-loader">
      <div class="site-loader-spinner"></div>
    </div> <!-- .site-loader -->
    <div class="site-canvas">
      <header class="site-header">
        <nav class="navbar navbar-theme">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> <!-- .navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#contact">Obrigado</a></li>
              </ul>
            </div> <!-- .navbar-collapse -->
          </div>
        </nav>
      </header> <!-- .site-header -->
      <main class="site-main">
        <div id="home" class="section block-primary position-r align-c-xs-max">
          <div id="particles-js" class="site-bg">
            <div class="site-bg-img"></div>
            <div class="site-bg-overlay"></div>
            <div class="site-bg-effect layer" data-depth=".30"></div>
            <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
          </div> <!-- .site-bg -->

          <div class="container">
            <div class="row row-table">
              <div class="col-sm-9">
                <div class="pricing-table-footer block-light">
                     <h3 id="carregando">Carregando..</h3>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="pricing-table-footer block-light">
                    <label for="Modelo">Grafico sobre:</label>
                    <select id="modelo" name="modelo" class="form-control">
                        <option>Total de Reclamações</option>
                    </select>  
                </div>
                <div class="col-sm-12 pricing-table-footer block-light">
                    <div class="col-sm-6">
                       <label for="Ano">Ano:</label>
                        <select id="ano" name="ano" class="form-control">
                            <option>Todos</option>
                            <option>2015</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                       <label for="Ano">Mês:</label>
                        <select id="mes" name="mes" class="form-control">
                            <option>Todos</option>
                        </select>
                    </div>                    
                </div>  
                <button type="submit" class="btn btn-warning btn-block">Desenhar Grafico</button>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-3 text-center">
                <button type="submit" id="btnLinha" class="btn btn-pink btn-block">Linhas</button>
              </div>
              <div class="col-sm-3 text-center">
                <button type="submit" id="btnPizza" class="btn btn-pink btn-block">Pizza</button>
              </div>
            </div>
          </div>
        </div> <!-- #home -->

        <div id="contact" class="section block-default">
          <div class="container">
            <div class="section-heading text-center">
              <h5>Flat Style Landing Page</h5>
              <h2>Get in touch with us</h2>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            </div>
            <div class="row section-content m-t-60-sm-min">
              <div class="col-sm-6 col-md-5">
              </div>
              <div class="col-sm-6 col-md-offset-1 m-t-60-xs-max">
                <div class="col-inner">
                  <form class="_default" id="contactForm" novalidate="novalidate">
                    <div class="form-group required">
                      <label class="form-label" for="contactName">Your name</label>
                      <input class="form-control" id="contactName" type="text" name="name">
                    </div>
                    <div class="form-group required">
                      <label class="form-label" for="contactEmail">Email address</label>
                      <input class="form-control" id="contactEmail" type="text" name="email">
                    </div>
                    <div class="form-group required">
                      <label class="form-label" for="contactMessage">Message</label>
                      <textarea class="form-control" id="contactMessage" rows="4" name="message"></textarea>
                    </div>
                    <div class="btn-wrap">
                      <button type="submit" class="btn btn-primary btn-block">Send Message</button>
                    </div>
                    <div class="form-notify"></div>
                  </form> <!-- #contactForm -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #contact -->
      </main> <!-- .site-main -->
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/plugin.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/variable.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/demo.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lodash.core.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lodash.core.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bluebird.min.js') }}"></script>

<script>
$(document).ready(function(){

/*  $('#btnLinha').hide();
  $('#btnPizza').hide();*/

    function totalPorAno(dados){
        total = 0;
        _.forEach(dados,its=>{
               total = total + _.reduce(its.data,(sum,item)=>{return sum + item.Total},0);
           });
        return total;
    }
    /*{Ano: 2015, page: page,per_page:27}*/
    function requestApi(params){
        full_year = [];
        for(var page=params.page;page<=12;page++){
            full_year.push($.getJSON('/api/v1/reclamacoes',params));
        }
        return full_year;
    }

    function getRandomColor() {        
        return '#'+Math.random().toString(16).substr(-6);
    }

    /*
    *canvas é elemento capturado pela id, onde o grafico sera renderizado.
    *Eixo Y(label) , representa os parametros do grafico, eixo X, os valores de cada parametro. ex: label['2015']. data[200]
    *
    */
    function graphBar(canvas,eixoY,eixoX,cores,titulo){
            var myChart = new Chart(canvas, {
                type: 'bar',
                data: {
                    labels: eixoY, //["2015"]
                    datasets: [{
                        label: titulo,
                        data: eixoX, 
                        backgroundColor: cores,
                        borderColor: cores,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display:false //Linhas ao fundo do grafico.
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display:false //Linhas ao fundo do grafico.
                            }
                        }]

                    }            
                }
            });
    }

    function graphLine(canvas,eixoY,eixoX,cores,titulo){
            var myChart = new Chart(canvas, {
                type: 'line',
                data: {
                    labels: eixoY, //["2015"]
                    datasets: [{
                        label: titulo,
                        data: eixoX, 
                        backgroundColor: cores,
                        borderColor: cores,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            gridLines: {
                                display:true //Linhas ao fundo do grafico.
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display:true //Linhas ao fundo do grafico.
                            }
                        }]

                    }            
                }
            });
        }

    function graphPie(canvas,eixoY,eixoX,cores,titulo){
        var myChart = new Chart(canvas, {
            type: 'pie',
            data: {
                labels: eixoY, //["2015"]
                datasets: [{
                    label: titulo,
                    data: eixoX, 
                    backgroundColor: cores,
                    borderColor: cores,
                    borderWidth: 1
                }]
            },
            options: {           
            }
        });
    }

    $('#btnLinha').click(function(){
      graphLine(canvas,eixoY,eixoX,cores,titulo);
    });

    $('#btnPizza').click(function(){
      graphPie(canvas,eixoY,eixoX,cores,titulo);
    });



    var data = [];

    var full_year_2015 = [];
    var full_year_2014 = [];
    var full_year_2013 = [];
    var full_year_2012 = [];

    var total2k15 = 0;
    var total2k14 = 0;
    var total2k13 = 0;
    var total2k12 = 0;

    var titulo = 'Total de Reclamações por Ano'
    var arrayParams = ['2015','2014','2013','2012']; //Refatorar para gerar dinamicamente, recebendo do input do usuario.
    var arrayValores = [];

    var params_2015 = {Ano: 2015, page: 1,per_page:27};
    var params_2014 = {Ano: 2014, page: 1,per_page:27};
    var params_2013 = {Ano: 2013, page: 1,per_page:27};
    var params_2012 = {Ano: 2013, page: 1,per_page:27};

    full_year_2015 = requestApi(params_2015);
    full_year_2014 = requestApi(params_2014);
    full_year_2013 = requestApi(params_2013);
    full_year_2012 = requestApi(params_2012);


      Promise.all(full_year_2015).then(function(result){
           total2k15 = totalPorAno(result);
           arrayValores.push(total2k15);

            Promise.all(full_year_2014).then(function(result){
                total2k14 =  totalPorAno(result);
                arrayValores.push(total2k14);

                  Promise.all(full_year_2013).then(function(result){
                      total2k13 =  totalPorAno(result);
                      arrayValores.push(total2k13);

                    Promise.all(full_year_2012).then(function(result){
                          total2k12 =  totalPorAno(result);
                          arrayValores.push(total2k12);
                          var cores = [];
                          for(var i = 0; i < arrayValores.length ; i++){
                              cores.push(getRandomColor());                            
                          }

                          var ctx = $("#myChart");
                          graphBar(ctx,arrayParams,arrayValores,cores,titulo);
                          $('#carregando').remove();
                          $('#btnLinha').show();
                          $('#btnPizza').show();


              });
            });
          });
       });

     

});

</script>
</body>
</html>
