<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <main>
    </main>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lodash.core.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bluebird.min.js') }}"></script>

    <script>
    $(document).ready(function(){
        full_year = [];
        for(var page=1;page<=12;page++){
            full_year.push($.getJSON('/api/v1/reclamacoes',{Ano: 2015, page: page,per_page:27}));
        }
        Promise.all(full_year).then(function(result){
            console.log(result);
        });
    });
    </script>
</body>

</html>